<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container w3-teal">
  <h1>Smart Pill Box</h1>
</div>
<br>
<h2>
<ul class="w3-ul">
  <li class="w3-hover-red"><a href="schedule">View / alter the schedule</a></li>
  <li class="w3-hover-blue"><a href="email">Manage emails</a></li>
  <li class="w3-hover-green"><a href="schedule">Something else?</a></li>
</ul>
<br>
</h2>
{% if scheduledChanged %}
    <script>
        alert("Schedule changed");
    </script>
{% endif %}

{% if emailChanged %}
    <script>
        alert("Contact details changed");
    </script>
{% endif %}





</body>
</html> 
